@model CQRS.Sample.GUI.Models.CreateAccountViewModel

@{
    ViewBag.Title = "Create New Account";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create Account</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password1)
                @Html.PasswordFor(m => m.Password1)
                @Html.ValidationMessageFor(m => m.Password1)
            </li>
            <li>
                @Html.LabelFor(m => m.Password2)
                @Html.PasswordFor(m => m.Password2)
                @Html.ValidationMessageFor(m => m.Password2)
            </li>
        </ol>
        <input type="submit" value="Submit"/>
    </fieldset>
}