@model CQRS.Sample.GUI.Models.LoginAccountViewModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Login</legend>
        <ul>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.EditorFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
        </ul>
        <input type="submit" value="Log in"/>
    </fieldset>
}